:root{
  font-size: 16px;
}
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:root{
  --color-window-bg: #f5f5f6;

  /** 底部播放器 */
  --color-music-player-bg: #f7f7f7;
  --color-music-player-border: #dddddd;

  /** 左侧导航栏 */
  --color-lav-bg: #e9ecee;
  --color-nav-scrollbar-thumb: #d3d3d3;
  --color-nav-font: #545454;
  --color-nav-item-hover-bg: #dee1e6;
  --color-nav-item-selected-bg: #ff5454;
  --color-nav-item-selected-font: #ffffff;
  --color-nav-dividing-line: #dddddd;
  --color-nav-line-title: #808080;
  --color-nav-paylist-font: #4b4b4b;

  /** 播放进度条 */
  --color-contr-line-bg:#d5d5d5;
  --color-contr-line-current-bg:#ff5151;
  --color-contr-line-btn-bg:#ffffff;
  --color-contr-line-btn-shadow:#cccccc;
  /* 播放器进度条左右的小字 */
  --color-contr-line-text:#929292;
  /* 播放器暂停播放按钮颜色 */
  --color-contr-play-btn:#ff5151;
  --color-contr-play-btn-hover:#ff7575;
  /* 中间文字颜色 */
  --color-contr-play-btn-text:#ffffff;
  /* 上一首和下一首按钮颜色 */
  --color-contr-prev-next-btn:#5e5e5e;
  --color-contr-prev-next-btn-hover:#343434;
  /* 添加到我喜欢的按钮颜色 */
  --color-contr-like-btn: var(--color-contr-prev-next-btn);
  /* 已经喜欢按钮颜色 */
  --color-contr-likeed-btn:#ff5151;
  
  /* 播放器放大状态顶部功能按钮颜色 */
  --color-contr-top-btn-border:#c0c0c050;
  --color-contr-top-btn-bgc:#5555552f;
  --color-contr-top-btn-bgc-hover:#363636ab;
  --color-contr-top-btn-text:#ffffffa8;

  /* 播放器左下角字体颜色 */
  --color-music-player-music-name:#000000;
  --color-music-player-music-line:#000000;
  --color-music-player-music-singer:#1d1d1d;

  /* 播放器左下角按钮颜色 */
  --color-music-player-user-button: #646464;
  --color-music-player-user-button-hover: #2c2c2c;

  /* 播放器右下角按钮颜色 */
  --color-music-player-right-button: #646464;
  --color-music-player-right-button-hover: #2c2c2c;

  /* 播放器右下角音乐播放条颜色*/
  --color-music-player-volume-line-box: var(--color-window-bg);
  --color-music-player-volume-line-box-shadow: #d3d3d3;
  --color-music-player-volume-num: #000000;
  --color-music-player-volume-line-all: #e2e2e2;
  --color-music-player-volume-line-full: #ff5151;
  --color-music-player-volume-line-drag-button: #ffffff;
  --color-music-player-volume-line-drag-button-shadow: #d6d6d6;

  /* 右侧播放列表颜色 */
  --color-play-list-window-bg: var(--color-window-bg);
  --color-play-list-window-shadow: #49494998;
  --color-play-list-item-hover: #eeeeee;
  --color-play-list-item-time: #646464;
  --color-play-list-item-name: #000000;
  --color-play-list-item-author : #646464;
  --color-play-list-item-icon: #f5dada;
  --color-play-list-item-icon-hover: #00000049;
  --color-play-list-item-icon-svg: #ffffff;
  --color-play-list-item-name-paying: #ff5151;


  /* 歌单顶部信息栏 */
  --color-pay-list-header-title-font: #000000;
  --color-pay-list-header-description-font: #4f4f4f;
  --color-pay-list-header-author-font: #4f4f4f;
  --color-play-button-bg: #ff5151;
  --color-play-button-font: #ffffff;
  --color-pay-list-search-bg: #ffffff;
  --color-pay-list-search-border : #e5e5e5;

  /* 歌单列表 */
  --color-pay-list-line-title-border: #e8e8e8;
  --color-pay-list-line-content-info-name-font: #000000;
  --color-pay-list-line-content-info-author-font: #646464;
  --color-pay-list-line-content-info-item-paly-font: #ffbb00;
  --color-pay-list-line-content-index-font: #646464;
  --color-pay-list-line-content-favorite-icon: #646464;
  --color-pay-list-line-content-hover-bg: #f0f0f0;
  --color-pay-list-line-content-info-icon-mask-bg: #5c5c5c47;
  --color-pay-list-line-content-info-icon-mask-icon: #ffffff;
  --color-pay-list-line-content-info-name-font-playing: #ff5151;
}