:root {
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:root {
  /* 上方区域 */
  --top-bar-height: 3rem;
  /* 左侧导航栏宽度 */
  --left-vav-width: 12rem;
  /* 底部播放器高度 */
  --button-player-height: 5rem;
}

:root {
  /* 主题色1 两种颜色相互搭配 */
  --color-primary: #EE7755;
  --color-primary-with: #FEEBC0;
  /* 主题色2 用于主题色1的变化*/
  --color-primary2: #e9623d;

  --color-primary-bg: white;
  --color-primary-bg2: #f5f5f5;
  --color-primary-text: black;
  --color-primary-text2: #646464;
  --color-primary-boder: #e5e5e5;
  --color-primary-shadow: #d3d3d3;

  /* 顶端窗口栏 */
  --top-bar-btn-color: var(--color-primary-text2);
  --top-bar-btn-hover-color: var(--color-primary-text);
  --top-bar-title-color: var(--color-primary-text);

  /* 顶部搜索框 */
  --top-bar-search-box-bg-color: var(--color-primary-bg);
  --top-bar-search-box-border-color: var(--color-primary-boder);
  --top-bar-search-icon-color: var(--color-primary-text2);
  --top-bar-search-icon-hover-color: var(--color-primary-text);
  --top-bar-search-input-color: var(--color-primary-text);
  --top-bar-search-box-border-color-focus: var(--color-primary);

  /* 顶部按钮 */
  --top-bar-button-color: var(--color-primary-text2);
  --top-bar-button-hover-color: var(--color-primary-text);
  --top-bar-button-hover-bg-color: #f2f2f2;


  /* 导航栏颜色 */
  --color-primary-nav-hover-text: var(--color-primary-text);
  --color-primary-nav-hover-bg: #ededed;
  --color-primary-nav-active-text: var(--color-primary-with);
  --color-primary-nav-active-bg: var(--color-primary);

  /* 列表颜色 */
  --color-primary-list-hover-bg: #f2f2f2;
  --color-primary-list-hover-text: var(--color-primary-text);
  --color-primary-list-active-text: var(--color-primary);

  /* 组要按钮颜色 */
  --color-primary-button: var(--color-primary);
  --color-primary-button-text: var(--color-primary-with);
  --color-primary-button-hover: var(--color-primary2);

  /** 无字小按钮颜色 */
  --color-primary-button-small: var(--color-primary-text2);
  --color-primary-button-small-hover: var(--color-primary-text);


  /* 窗口颜色 */
  --color-window-bg: var(--color-primary-bg);

  /** 底部播放器 */
  --color-music-player-bg: var(--color-primary-bg);
  --color-music-player-border: var(--color-primary-boder);

  /** 左侧导航栏 */
  --color-lav-bg: var(--color-primary-bg2);
  --color-nav-scrollbar-thumb: var(--color-primary-boder);
  --color-nav-font: var(--color-primary-text2);
  --color-nav-item-hover-bg: var(--color-primary-nav-hover-bg);
  --color-nav-item-selected-bg: var(--color-primary-nav-active-bg);
  --color-nav-item-selected-font: var(--color-primary-nav-active-text);
  --color-nav-dividing-line: var(--color-primary-boder);
  --color-nav-line-title: var(--color-primary-text);
  --color-nav-paylist-font: var(--color-primary-text2);

  /** 播放进度条 */
  --color-contr-line-bg: var(--color-primary-boder);
  --color-contr-line-current-bg: var(--color-primary);
  --color-contr-line-btn-bg: var(--color-primary-bg);
  --color-contr-line-btn-shadow: var(--color-primary-shadow);
  /* 播放器进度条左右的小字 */
  --color-contr-line-text: var(--color-primary-text2);
  /* 播放器暂停播放按钮颜色 */
  --color-contr-play-btn: var(--color-primary-button);
  --color-contr-play-btn-hover: var(--color-primary-button-hover);
  /* 中间文字颜色 */
  --color-contr-play-btn-text: var(--color-primary-button-text);
  /* 上一首和下一首按钮颜色 */
  --color-contr-prev-next-btn: var(--color-primary-button-small);
  --color-contr-prev-next-btn-hover: var(--color-primary-button-small-hover);

  /* 播放器放大状态顶部功能按钮颜色 */
  --color-contr-top-btn-border: #c0c0c050;
  --color-contr-top-btn-bgc: #5555552f;
  --color-contr-top-btn-bgc-hover: #363636ab;
  --color-contr-top-btn-text: #ffffffa8;

  /* 播放器左下角字体颜色 */
  --color-music-player-music-name: var(--color-primary-text);
  --color-music-player-music-line: var(--color-primary-text2);
  --color-music-player-music-singer: var(--color-primary-text2);

  /* 播放器左下角按钮颜色 */
  --color-music-player-user-button: var(--color-primary-button-small);
  --color-music-player-user-button-hover: var(--color-primary-button-small-hover);

  /* 播放器右下角按钮颜色 */
  --color-music-player-right-button: var(--color-primary-button-small);
  --color-music-player-right-button-hover: var(--color-primary-button-small-hover);

  /* 播放器右下角音量放条颜色*/
  --color-music-player-volume-line-box: var(--color-window-bg);
  --color-music-player-volume-line-box-shadow: var(--color-primary-shadow);
  --color-music-player-volume-num: var(--color-primary-text2);
  --color-music-player-volume-line-all: var(--color-primary-boder);
  --color-music-player-volume-line-full: var(--color-primary);
  --color-music-player-volume-line-drag-button: var(--color-primary-bg);
  --color-music-player-volume-line-drag-button-shadow: var(--color-primary-shadow);

  /* 右侧播放列表颜色 */
  --color-play-list-window-bg: var(--color-window-bg);
  --color-play-list-window-shadow: var(--color-primary-shadow);
  --color-play-list-item-hover: var(--color-primary-list-hover-bg);
  --color-play-list-item-name: var(--color-primary-text);
  --color-play-list-item-author: var(--color-primary-text2);
  --color-play-list-item-icon-hover: #00000049;
  --color-play-list-item-icon-svg: #ffffff;
  --color-play-list-item-name-paying: var(--color-primary-list-active-text);
  --color-play-list-item-button-grep-button: var(--color-primary-button-small);
  --color-play-list-item-button-grep-button-hover: var(--color-primary-button-small-hover);


  /* 歌单顶部信息栏 */
  --color-pay-list-header-title-font: #000000;
  --color-play-edit-button: var(--color-primary-button-small);
  --color-play-edit-button-hover: var(--color-primary-button-small-hover);

  --color-pay-list-header-description-font: #4f4f4f;
  --color-pay-list-header-author-font: #4f4f4f;
  --color-play-button-bg: var(--color-primary-button);
  --color-play-button-font: var(--color-primary-button-text);
  --color-play-button-hover-bg: var(--color-primary-button-hover);
  --color-pay-list-search-bg: var(--color-primary-bg2);
  --color-pay-list-search-border: var(--color-primary-boder);
  --color-pay-list-search-border-focus: var(--color-primary);

  /* 歌单列表 */
  --color-pay-list-line-title-border: var(--color-primary-boder);
  --color-pay-list-line-content-info-name-font: var(--color-primary-text);
  --color-pay-list-line-content-info-author-font: var(--color-primary-text2);
  --color-pay-list-line-content-index-font: var(--color-primary-text2);
  --color-pay-list-line-content-hover-bg: var(--color-primary-list-hover-bg);
  --color-pay-list-line-content-info-icon-mask-bg: #5c5c5c47;
  --color-pay-list-line-content-info-icon-mask-icon: #ffffff;
  --color-pay-list-line-content-info-name-font-playing: var(--color-primary-nav-active-bg);
  /* 拖动排序歌单列表 */
  --color-pay-list-drag-item-bg: var(--color-primary-bg);
  --color-pay-list-drag-item-border: var(--color-primary-boder);
  --color-pay-list-drag-item-border-line: var(--color-primary-text2);


  /* 全部的喜欢按钮 */
  --color-pay-list-favorite-icon: var(--color-primary-button-small);
  --color-pay-list-favorite-icon-hover: var(--color-primary-button-small-hover);
  --color-pay-list-favorite-icon-liked: var(--color-primary);
  --color-pay-list-favorite-icon-liked-hover: var(--color-primary2);


  /* 添加到播放列表窗口 创建新歌单窗口 */
  --color-add-to-play-list-box-bg: var(--color-primary-bg);
  --color-add-to-play-list-box-shadow: var(--color-primary-shadow);
  --color-add-to-play-list-box-title: var(--color-primary-text);
  --color-add-to-play-list-box-list-hover-bg: var(--color-primary-list-hover-bg);
  --color-add-to-play-list-box-loading-text: var(--color-primary-text2);
  --color-add-to-play-list-box-list-close: var(--color-primary-text2);
  --color-add-to-play-list-box-list-name-create: var(--color-primary-text2);
  --color-add-to-play-list-box-list-icon-msk-create: #5c5c5c47;

  /* 编辑歌单信息 */
  --edit-play-list-lnfo-title-color: var(--color-primary-text);
  --edit-play-list-lnfo-title-smell-color: var(--color-primary-text);
  --edit-play-list-icon-input-text-color: #ffffff;
  --edit-play-list-icon-input-bg-hover-color: #00000064;

  /* 编辑音乐信息 */
  --edit-music-lnfo-title-color: var(--color-primary-text);
  --edit-music-lnfo-title-smell-color: var(--color-primary-text);
  --edit-music-icon-input-text-color: #ffffff;
  --edit-music-icon-input-bg-hover-color: #00000064;


  /* 图片编辑器 */
  --edit-img-bg-color: var(--color-primary-bg);
  --edit-img-shadow-color: var(--color-primary-shadow);
  --edit-img-title-color: var(--color-primary-text);

  /* 右上角消息弹出框 */
  --tip-color-success: #67c23a;
  --tip-color-error: #f56c6c;
  --notification-bgc: var(--color-primary-bg);
  --notification-shadow: 0 0 0.5rem 0.1rem var(--color-primary-shadow);

  /* 通用按钮 */
  --color-universal-button-other-text: var(--color-primary-text);
  --color-universal-button-other-bgc: #f5f5f5;
  --color-universal-button-other-bgc-hover: #ededed;
  --color-universal-button-other-border: var(--color-primary-boder);

  --color-universal-ok-butto-text: var(--color-primary-button-text);
  --color-universal-ok-button-bgc: var(--color-primary-button);
  --color-universal-ok-button-bgc-hover: var(--color-primary-button-hover);
  --color-universal-ok-button-border: var(--color-primary-boder);

  /* 通用输入框 */
  --universal-input-border-color: var(--color-primary-boder);
  --universal-input-color: var(--color-primary-text2);
  --universal-input-bg-color: var(--color-primary-bg2);
  --universal-input-border-color-focus: var(--color-primary);


  /* 搜索页面 */
  --universal-input-border-color: var(--color-primary-boder);
  --universal-search-item-text-color: var(--color-primary-text2);
  --universal-search-item-text-color-on: var(--color-primary-text);
  --universal-search-item-text-border-bottom-color-on: var(--color-primary);

}